<footer>
  <center>
    <p style="text-align: center">CopyRight &copy; PMS</p>
  </center>
</footer>
<script src="bootstrap/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>